


       
        
        
    
    <img  class= "bground2" src="images/bground2.jpg" alt="">
        <section id="about">
            
            
            
                <h1 class="heading2">ABOUT ME</h1>
                <div id="pic">


                <img src="images/profile.jpg" alt="">
                <div id = "intro">
                    <h2>Kunal Gambhir</h2>
                    <p>
•	Communication Skills (Multilingual) - Fluent in English, Hindi, and Punjabi languages<br>
•	Teamwork - Excellent team player with focus on collaboration, team-building and customer relations<br>
•	Money Math Skills - Responsible for handing cash at Point of Sales (POS) and Telephone orders<br>
•	Additional skills: Punctuality, Adaptability, Positive Attitude, ability to carry heavy weight items<br> 
•	Prioritization, Multitasking, and problem-solving abilities in fast paced environment<br>
•	Experienced with Microsoft Office (Word, Excel, PowerPoint) on Window or Mac OS<br>
•	Currently studying in Mobile Solutions Development, PG Diploma Course (Remote Learning) from Conestoga College.<br>
•	Graduate in Bachelor of Technology (Computer Science) in Guru Gobind Singh Indraprastha University (2016-2020).<br>
</p>
                </div>
            
                </section>
               