<img src="images/contact.jpg" alt="">

<section id="Contacts" class="pb-4">
    <h1 class="heading4">LETS CONNECT</h1>
    <div class="row">
        <div class="col-md-6">
            <form method="POST" action="/tacos">
                <p>
                    <label for="Name" class="name">Enter Your Name :</label>
                    <input id="Name" type="text" placeholder="Enter Your Name" name="username">
                    <!-- Here Input is used to enter as many controls in the form as we want and also type specifies what kind
                    of control it is and then placeholder specifies what you have to enter in this input-->
                </p>
                <!--Here name Attribute is the way of refereing to the value, whatevers in the input the the data is sent to
                the server-->

                <p>
                    <label for="Email" class="email">Email Address : </label>
                    <input id="Email" type="email" placeholder="Enter Your Email Address" name="email">
                </p>
                <p>
                    <label for="text" class="textarea"> Enter any special requests here</label>
                    <br>
                    <textarea id="text" rows="10" cols="30" placeholder="ENTER ANY SPECIAL REQUESTS HERE"
                        class="textarea2"></textarea>




                </p>
                <button type="button" class="button">Submit</button>
                <!--Since we have used type attribute as button it will behave as a button only and will not submit-->

            </form>
            
        </div>
        <div class="col-md-6">
            <p>Address</p>
        </div>
    </div>
    <div class="text-center">
                <a href="https://www.linkedin.com/in/kunal-gambhir-3081ab1b4/" class="link mx-4">
                    <img src="images/linkedin.png" alt="linkedin">

                </a>
                <a href="https://github.com/KUNALROCKS544/myportfolio" class="link">
                    <img src="images/github.png" alt="github">

                </a>
            </div>

</section>



<br>