
     <h1>PortFolio</h1>
     <section id="HOMEPAGE">
           <img  class= "bground" src="images/bground.png" alt="">
    

            <div class="homemain" style="
    background-color: #000000a3;
    color: white;
    padding: 20px;
">
                <h1 class="heading1"> Myself <br> Kunal Gambhir <br>WEB DEVELOER and C# Developer </h1>
                </div>
                </section>

